* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lora", serif;
  background: linear-gradient(
    93.1deg,
    rgb(238, 254, 183) 19.1%,
    rgb(169, 254, 222) 53.9%,
    rgb(90, 222, 255) 92%
  );
  background-size: cover;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cleafix-weather {
  display: inline-block;

  align-items: left;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 5rem;
  font-weight: 50;
  justify-content: left;
  width: 50px;
}

.units {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  top: -5px;

  font-size: 20px;
}

.cit {
  text-align: center;
  margin: auto;
}
#city {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
  text-align: center;
}
.date {
  font-size: 20px;
  text-align: center;
  color: rgb(22, 110, 106);
}
.info {
  font-size: 10px;
  text-align: center;
  color: rgb(22, 110, 106);
}

.weather-app {
  padding: 25px;
  margin: 20px auto;
  border-radius: 5px;
  max-width: 1000px;
  border: 1px solid rgb(11, 128, 136);
  background-color: transparent;
}
.search-form {
  margin-bottom: 30px;
  text-align: center;
}

.person {
  text-align: center;
}
.forecast {
  text-align: center;
  color: red;
  margin-top: 20px;
  font-size: 20px;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  position: relative;
  color: blue;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
